.chatbot-toggle-button {
  position: fixed;
  bottom: 20px; /* Posición inicial en la esquina inferior derecha */
  right: 20px;
  background-color: #00bcd4;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1001; /* Asegura que esté por encima de otros contenidos */
}
.chatbot-container {
  position: fixed;
  bottom: 60px;
  right: 20px;
  width: 330px;
  max-height: 550px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background-color: #f5f8fb;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .chatbot-toggle-button {
    bottom: 20px;
    right: 20px;
    z-index: 1001;
  }

  .chatbot-toggle-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1001;
    height: 50px;
  }
}
